.steps{
  text-align: center;
}
.book2{
  margin-left: 50px;

}
.mytable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th{
  border: 4px solid #dddddd;
}

.book3{
  margin-left: 50px;

}

table.pstbl  td{
  width: 40px;
  min-width: 40px
  max-width: 40px;

}

.travelers ul li{
  display: inline-block;
  padding-right: 30px;
}

.book4{
  text-align: center;
  margin: auto;

}

.book4 ul li {
  display:  block;

}

.travelinfo ul li p{
  text-align: right;
  font-size: 12px;

}

#subcon{
  font-size: 12px;
}

.box1{
  display: block;
 text-align: left;
 margin: auto;
 width: 500px;
}

.box2{
  display: block;
  margin: auto;
  width: 500px;
  text-align: left;
}

.book5{
  text-align: center;

}

.terminals ul li{
  display: block;
  font-size: 20px;
}

.instruc{
  text-align: left;
  padding-left: 250px;
  margin: auto;
  font-size: 20px;
}